body {
    background: #CCCCCC;
}

header {
    padding: 20px;
}

main {
    margin-top: 5%;
}

.caixa {
    position: relative;
    width: 100%;
}

.caixa img {
    margin: 0 auto;
}

.caixa h1 {
    position:absolute;
    right: 1%;
    top: 7%;

    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 250%;
    color: #0A3871;
}

.main-caixa {
    position: relative;
    width: 100%;
}

.main-caixa textarea {
    background: #FFFFFF;

    font-family: 'Raleway';
    font-style: normal;
    font-size: 120%;

    border: none;
    border-radius: 10px;

    height: 100px;
    width: 50%;
    padding: 1%;
    
    position: relative;
    left: 25%;
    
    resize: none;
}

.main-caixa textarea:focus {
    outline-width: 0;
}

.main-caixa p {
    margin: 0 0 0 25%;

    font-family: 'Raleway';
    font-size: 50%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 100%;
    vertical-align: middle;
}


.div-botoes-principais{
    margin: 20px 0;
    display: block;
}

.botoes {
    padding: 1%;
    width: 18%;
    border-radius: 10px;

    margin:0 1%;
    position: relative;
    left: 32%; 

    font-family: 'Raleway';
    font-size: 90%;

    box-shadow: 5px 5px 20px -8px black;
}

.botoes:hover {
    transform: scale(1.05);
    transition: 1s all;

    cursor: pointer;

}

#copiar {
    position: relative;
    left: 43%; 
}

#copiar:hover {
    cursor: copy;
}

#codificar, #copiar {
    background: #0A3871;
    color: #FFFFFF;
}

#decodificar {
    background: #FFFFFF;
    color: #0A3871;
}