body {
    background: #000000;
}

header {
    background: url(resources/back.png);
    padding: 10px;
}

main {
    margin-top: 3%;
}

.caixa {
    position: relative;
    width: 100%;
}

.caixa img {
    margin: 0 auto;
    height: 6%;
    width: 6%;
}

.caixa h1 {
    position:absolute;
    left: 7%;
    top: 20%;

    font-family: 'Raleway';
    font-weight: bold;
    font-size: 250%;
    color: #FFFFFF;
}

.main-caixa {
    position: relative;
    width: 100%;
}

.main-caixa textarea {
    background: #FFFFFF;

    font-family: 'Raleway';
    font-style: normal;
    font-size: 120%;

    border: none;
    border-radius: 10px;

    height: 100px;
    width: 50%;
    padding: 1%;
    
    position: relative;
    left: 25%;
    
    resize: none;
}

.main-caixa textarea:focus {
    outline-width: 0;
}

.main-caixa p {
    margin: 0 0 0 25%;

    font-family: 'Raleway';
    font-weight: bold;
    font-size: 60%;
    color: #FFFFFF;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 100%;
    vertical-align: middle;
}


.div-botoes-principais{
    margin: 20px 0;
    display: block;
}

.botoes {
    padding: 1%;
    width: 18%;
    border-radius: 10px;

    margin:0 0 3% 1%;
    position: relative;
    left: 32%; 

    font-family: 'Raleway';
    font-size: 90%;

    box-shadow: 5px 5px 20px -8px black;
}

.botoes:hover {
    transform: scale(1.05);
    transition: 1s all;

    cursor: pointer;
}

#copiar {
    position: relative;
    left: 43%; 

    margin:0 1%;
}

#copiar:hover {
    cursor: copy;
}

#codificar, #copiar {
    background: #a2f4c1;
    color: #000000;
}

#decodificar {
    background: #FFFFFF;
    color: #000000;
}

#codificar:hover, #decodificar:hover, #copiar:hover {
    background: #fe646f;
    color: #ffffff;
}

footer {
    background: url(resources/back.png);
    text-align: center;
    padding: 40px 0;
}

footer p {
    font-family: 'Raleway';
    color:#FFFFFF;
    font-size: 60%;
    
    margin-top: 1%;
}

footer a {
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover {
    transition: 1s all;
    color: #fe646f;
}


